<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.unity.shop.dao.UserMapper">
    <select id="getUsers" parameterType="java.util.Map" resultType="java.util.Map">
        /* UserMapper.getUsers */
        SELECT
            *
        FROM T_USER
        WHERE 1=1
        <choose>
            <when test='id != null and !id.equals("")'>
                AND ID = #{id}
            </when>    
            <when test='userEmail != null and !userEmail.equals("")'>
                AND USER_EMAIL = #{userEmail}
                AND USER_PWD = #{userPwd}
            </when>
            <otherwise>
                LIMIT 0
            </otherwise>
        </choose>
    </select>
    
    <select id="findUserById" parameterType="java.util.Map" resultType="java.util.Map">
        /* UserMapper.findUserById */
        SELECT
            *
        FROM T_USER
        WHERE id = #{id}
    </select>    
    
    <insert id="save" parameterType="java.util.Map">
        INSERT INTO T_USER (
            ID,
            USER_EMAIL,
            USER_PWD
        ) VALUES (
            #{id},
            #{userEmail}
            #{userPwd}
        )
    </insert>
    
    <update id="update" parameterType="java.util.Map">
        UPDATE T_USER
        SET 
            ID = #{id},
            USER_EMAIL = #{userEmail}
        WHERE id = #{id}
    </update>
    
    <delete id = "deleteById" parameterType="java.util.Map">
        DELETE FROM T_USER WHERE id = #{id}
    </delete>
</mapper>